rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      // Qualsevol pot llegir
      allow read: if true;
      // Només emails autoritzats poden escriure
      allow write: if request.auth != null
        && request.auth.token.email in [
          'sbrunessalas@gmail.com',
          'marc.brunes95@gmail.com',
          'lauranavarreteclos@gmail.com',
          'xamolo@hotmail.com',
          'cristina.naqui@gmail.com'
        ];
    }
  }
}
