rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /rooms/{roomId} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email in [
          'sbrunessalas@gmail.com',
          'marc.brunes95@gmail.com',
          'lauranavarreteclos@gmail.com',
          'xamolo@hotmail.com',
          'cristina.naqui@gmail.com',
          'ari.veny.reast@gmail.com'
        ];
    }

    match /grups/{grupId} {
      allow read: if request.auth != null && (
        request.auth.token.email == 'sbrunessalas@gmail.com' ||
        request.auth.token.email in resource.data.membresCorreus
      );
      allow create: if request.auth != null
        && request.auth.token.email in request.resource.data.membresCorreus;
      allow update: if request.auth != null && (
        request.auth.token.email == 'sbrunessalas@gmail.com' ||
        request.auth.token.email in resource.data.membresCorreus
      );
      allow delete: if request.auth != null && (
        request.auth.token.email == 'sbrunessalas@gmail.com' ||
        request.auth.token.email == resource.data.titular
      );

      // Sales personals del grup
      match /rooms/{roomId} {
        allow read: if request.auth != null && (
          request.auth.token.email == 'sbrunessalas@gmail.com' ||
          request.auth.token.email in get(/databases/$(database)/documents/grups/$(grupId)).data.membresCorreus
        );
        allow write: if request.auth != null && (
          request.auth.token.email == 'sbrunessalas@gmail.com' ||
          request.auth.token.email in get(/databases/$(database)/documents/grups/$(grupId)).data.membresCorreus
        );
      }
    }

    match /usuaris/{userId} {
      allow read: if request.auth != null && (
        request.auth.uid == userId ||
        request.auth.token.email == 'sbrunessalas@gmail.com'
      );
      allow write: if request.auth != null && request.auth.uid == userId;
    }

  }
}
